h3 {text-align:center;}
#definitions li{list-style-type:decimal; }
#definitions input {font-size: 18px;border-style:none;width:100px;text-align:center;}
a {display: table-cell;}
.hint{letter-spacing:5px;font-weight:bold;}
.last_response {color:#456F9A;}
#puzzle li{list-style-type:none; white-space: pre; font-size: 18px; font-family: Courier;}
#puzzle {padding-bottom:10px;}
