<div data-role="page" data-theme="c" >
	<div data-role="header" data-theme="d" data-position="inline">	
		<h1>{{question_num}}. {{question_text}}</h1>
	</div>
	<div data-role="content" data-theme="c">
		<h1>Hint: {{response_hint}}</h1>
		<div data-role="fieldcontain">
			<label for="name">Your response:</label>
			<input type="text" name="name" id="name" value=""  />
		</div>
		<a href="/" data-role="button" data-theme="b">Submit response</a>       
		<a href="/" data-role="button" data-theme="c">Cancel</a>    
	</div>
</div>